.new-post-btn{
    position: sticky;
    bottom: var(--spacing-7);
    z-index: 20;
    width: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: var(--spacing-7);
}

.new-post-btn button {
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    padding: var(--spacing-4);
    transition: 0.2s linear;
    border-radius: var(--br-1);
    box-shadow: var(--bs-1);
    z-index: 99;
}

.new-post-btn button svg {
    font-size: var(--fs-5);
    transition: 0.3s ease-in-out;
}

.new-post-btn button p {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    letter-spacing: 1px;
}

.new-post-btn button.open {
    padding-left: var(--spacing-2);
}

.new-post-btn button.open svg {
    transform: rotate(135deg);
}

.new-post-btn button.open p {
    margin-right: var(--spacing-0);
    width: 130px;
    opacity: 1;
}
