.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--primary-shade-2);
}
.profile header {
  background: var(--primary-shade-2);
  min-height: 10%;
  display: flex;
  gap: var(--spacing-4);
  align-items: center;
  padding-inline: var(--spacing-4);
  position: sticky;
  top: 0;
}

.profile header h1 {
  font-size: var(--fs-5);
}
.profile header .edit-btn {
  margin-left: auto;
}

.profile .content {
  display: flex;
  position: relative;
  flex: 1;
}
.profile .content .content-inner {
  background: var(--primary-shade-0);
  border-radius: 32px 32px 0 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--spacing-4);
}

.profile .content .creds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4);
  min-height: 120px;
}

.profile .image-selector-comp {
  width: 100px;
  height: 100px;
}

.profile .image-selector-comp .choose-image-wrapper {
  height: 100% !important;
  border-radius: 50%;
}

.profile .image-selector-comp .choose-image-wrapper button {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: var(--fs-6);
}

.profile .image-selector-comp .choose-image-wrapper .select-image-btn {
  background: transparent;
  // top: 0;
  right: 0;
  opacity: 0.5;
}

.profile .swiper-comp .swiper-wrapper img {
  object-fit: cover;
}

.profile .creds-container .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-5);
  margin-top: var(--spacing-7);
  width: 100%;
}

.profile .creds-container .top .username-in {
  font-size: var(--fs-4);
  text-align: center;
  letter-spacing: 1px;
}

.profile .creds-container .bottom {
  margin-top: var(--spacing-7);
  width: min(310px, 90%);
}

.profile .creds-container .bottom .input-wrapper {
  display: flex;
  flex-direction: column;

  label {
    font-size: var(--fs-2);
    margin-bottom: var(--spacing-1);
    opacity: 0.5;
  }
  input {
    font-size: var(--fs-3);
    background: var(--primary-shade-2);
    padding: var(--spacing-4);
    border-radius: var(--br-1);
    letter-spacing: 1px;
  }
}

.profile .creds-container.disabled * {
  pointer-events: none;
}
.profile .creds-container.disabled .image-selector-comp .select-image-btn {
  opacity: 0;
}

@media screen and (min-width: 650px) {
  .profile .content .content-inner {
    background: var(--primary-shade-1);
  }
}

.profile .posts-container {
  margin-top: var(--spacing-12);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
}
.profile .posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: var(--spacing-0);
  margin-inline: calc(-1 * var(--spacing-4) + 1px);
}
.profile .pr-post {
  position: relative;
  background: transparent;
  border: none;
  border-radius: 0;
  max-width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profile .pr-post .ico-multiple{
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 20;
  font-size: var(--fs-4);
}

.profile .posts-container .pr-skeleton {
  width: 100%;
  height: 110px;
}

.profile .pr-skeleton {
  // width: 100%;
  // height: 110px;
  position: relative;
  overflow: hidden;
  background-color: #270e22;
}
.profile .pr-skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    #301429,
    transparent
  );
  animation: loading 1s infinite;
}

/* Keyframes for the shimmer effect */
@keyframes loading {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.profile .creds-container .imgskeleton {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile .creds-container .unskeleton {
  margin-top: var(--spacing-2);
  width: min(260px, 70%);
  height: 40px;
}
